# Data Analysis - mpg dataset

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

mpg = pd.read_csv('mpg.txt')

## 데이터 파악

In [4]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [6]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [7]:
mpg.shape

(234, 11)

### [문제 1] 
displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.

In [51]:
displ_4_mean = mpg[mpg['displ'] <= 4.0]['hwy'].mean()
displ_5_mean = mpg[mpg['displ'] >= 5.0]['hwy'].mean()

print('displ(배기량)이 4 이하인 자동차의 hwy(고속도로 연비): ', displ_4_mean)
print('displ(배기량)이 5 이상인 자동차의 hwy(고속도로 연비): ', displ_5_mean)

displ(배기량)이 4 이하인 자동차의 hwy(고속도로 연비):  25.96319018404908
displ(배기량)이 5 이상인 자동차의 hwy(고속도로 연비):  18.07894736842105

### [문제 2]
자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다. <br>
"audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 평균적으로 더 높은지 확인하세요.

In [53]:
audi_cty_mean = mpg[mpg['manufacturer']=='audi']['cty'].mean()
toyota_cty_mean = mpg[mpg['manufacturer']=='toyota']['cty'].mean()

print('audi 차량의 cty(도시 연비) 평균: ', audi_cty_mean)
print('toyota 차량의 cty(도시 연비) 평균: ', toyota_cty_mean)

audi 차량의 cty(도시 연비) 평균:  17.61111111111111
toyota 차량의 cty(도시 연비) 평균:  18.529411764705884

### [문제 3]
"chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. <br>
이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.

In [54]:
chevrolet_hwy_mean = mpg[mpg['manufacturer'] == 'chevrolet']['hwy'].mean()
ford_hwy_mean = mpg[mpg['manufacturer'] == 'ford']['hwy'].mean()
honda_hwy_mean = mpg[mpg['manufacturer'] == 'honda']['hwy'].mean()

print('chevrolet 차량의 hwy(고속도로 연비) 평균: ', chevrolet_hwy_mean)
print('ford 차량의 hwy(고속도로 연비) 평균: ', ford_hwy_mean)
print('honda 차량의 hwy(고속도로 연비) 평균: ', honda_hwy_mean)

chevrolet 차량의 hwy(고속도로 연비) 평균:  21.894736842105264
ford 차량의 hwy(고속도로 연비) 평균:  19.36
honda 차량의 hwy(고속도로 연비) 평균:  32.55555555555556

### [문제 4]
"audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 높은지 알아보려고 한다. <br>
"audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 자동차의 데이터를 출력하세요.

In [77]:
audi_mpg = mpg[mpg['manufacturer']=='audi'].sort_values(by='hwy', ascending=False)[0:5]
display(audi_mpg)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact

### [문제 5]
mpg 데이터는 연비를 나타내는 변수가 2개입니다. 
두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. <br>
평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. <br>
회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.

In [131]:
mpg['new_avg'] = (mpg['hwy'] + mpg['cty']) / 2.0
display(mpg)

mnf_suv = mpg[mpg['class']=='suv'][['manufacturer', 'new_avg']]
display(mnf_suv)

result = mnf_suv.pivot_table('new_avg', index='manufacturer', aggfunc='mean')
result.sort_values(by='new_avg', ascending=False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,new_avg
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

    manufacturer  new_avg
18     chevrolet     17.0
19     chevrolet     13.0
20     chevrolet     17.0
21     chevrolet     15.0
22     chevrolet     14.5
..           ...      ...
176       toyota     16.0
177       toyota     18.0
178       toyota     15.5
198       toyota     13.0
199       toyota     15.5

[62 rows x 2 columns]

                new_avg
manufacturer
subaru        21.916667
toyota        16.312500
nissan        15.875000
mercury       15.625000
jeep          15.562500
ford          15.333333
chevrolet     14.888889
lincoln       14.166667
land rover    14.000000
dodge         13.928571

### [문제 6]
mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. <br>
class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.

In [144]:
class_cty = mpg.groupby('class')['cty'].mean().sort_values(ascending=False)
display(class_cty)

class
subcompact    20.371429
compact       20.127660
midsize       18.756098
minivan       15.818182
2seater       15.400000
suv           13.500000
pickup        13.000000
Name: cty, dtype: float64

### [문제 7]
어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. <br>
hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.

In [152]:
mnf_hwy = mpg.groupby('manufacturer')['hwy']
mnf_hwy.mean().sort_values(ascending=False)[:3]

# display(mpg.groupby(mpg['manufacturer']).mean().sort_values(['hwy'], ascending=False).head(3))

manufacturer
honda         32.555556
volkswagen    29.222222
hyundai       26.857143
Name: hwy, dtype: float64

### [문제 8]
어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. <br>
각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.

In [190]:
compact_car = mpg[mpg['class'] == 'compact']
# display(compact_car)
mnf_compact = compact_car.groupby('manufacturer')
mnf_compact['manufacturer'].count()

manufacturer
audi          15
nissan         2
subaru         4
toyota        12
volkswagen    14
Name: manufacturer, dtype: int64